### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
#print(school_data) #check to see if file has been loaded properly 
#print(student_data) check to see if file has been loaded properly 

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#print(school_data_complete)
school_data_complete.head()  #.head is a method that displays the last 'n'rows

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [11]:
#calculate the total number of schools
#total_schools_df= len(school_data_complete["school_name"].unique()) #use length function of unique school names 
#try accomplishing the above with loc method
total_schools_df=len(school_data_complete.loc[:,'school_name'].unique())
total_schools_df #use hanging object check

15

In [5]:
#Calculate the total number of students
total_students_df= len(school_data_complete["Student ID"].unique()) #find the unique student ids and count these 
total_students_df

39170

In [23]:
#Calculate the total budget (make sure to find it for unique school values only as to not have duplicates) #create filter? 
total_budget_df= school_data["budget"].sum()
total_budget_df

24649428

In [29]:
#Calculate the average math score
average_math_score= student_data["math_score"].mean() #make sure to do this for unique students first
average_math_score

78.98537145774827

In [30]:
average_reading_score= student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [36]:
#Calculate the percentage of students with a passing math score (70 or greater)
students_passing_math = student_data.loc[student_data["math_score"] > 70,:]
percent_passing_math = round(float(students_passing_math["math_score"].count()/total_students_df)*100,6)
percent_passing_math #this number should be 74.980853

72.392137

In [39]:
#Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = student_data.loc[student_data["reading_score"] > 70,:]
percent_passing_reading = round(float(students_passing_reading["reading_score"].count()/total_students_df)*100,6)
percent_passing_reading #this number should be 85.805463

82.971662

In [40]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing_rate =round((percent_passing_math + percent_passing_reading)/2,6)
overall_passing_rate #this number should be 65.172326

77.6819

In [44]:
#Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools":[total_schools_df],
                          "Total Students":[total_students_df],
                          "Total Budget":[total_budget_df],
                          "Average Math Score":[average_math_score],
                          "Average Reading Score":[average_reading_score],
                          "% Passing Math":[percent_passing_math],
                          "% Passing Reading":[percent_passing_reading],
                          "% Overall Passing":[overall_passing_rate]})
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,77.6819

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
#sort_values

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type