### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
#print(school_data) #check to see if file has been loaded properly 
#print(student_data) check to see if file has been loaded properly 

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#print(school_data_complete)
school_data_complete.head()  #.head is a method that displays the last 'n'rows

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [11]:
#calculate the total number of schools
#total_schools_df= len(school_data_complete["school_name"].unique()) #use length function of unique school names 
#try accomplishing the above with loc method
total_schools_df=len(school_data_complete.loc[:,'school_name'].unique())
total_schools_df #use hanging object check

15

In [5]:
#Calculate the total number of students
total_students_df= len(school_data_complete["Student ID"].unique()) #find the unique student ids and count these 
total_students_df

39170

In [23]:
#Calculate the total budget (make sure to find it for unique school values only as to not have duplicates) #create filter? 
total_budget_df= school_data["budget"].sum()
total_budget_df

24649428

In [29]:
#Calculate the average math score
average_math_score= student_data["math_score"].mean()
average_math_score

78.98537145774827

In [30]:
average_reading_score= student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [36]:
#Calculate the percentage of students with a passing math score (70 or greater)
students_passing_math = student_data.loc[student_data["math_score"] > 70,:]
percent_passing_math = round(float(students_passing_math["math_score"].count()/total_students_df)*100,6)
percent_passing_math #this number should be 74.980853

72.392137

In [39]:
#Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = student_data.loc[student_data["reading_score"] > 70,:]
percent_passing_reading = round(float(students_passing_reading["reading_score"].count()/total_students_df)*100,6)
percent_passing_reading #this number should be 85.805463

82.971662

In [40]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing_rate =round((percent_passing_math + percent_passing_reading)/2,6)
overall_passing_rate #this number should be 65.172326

77.6819

In [44]:
#Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools":[total_schools_df],
                          "Total Students":[total_students_df],
                          "Total Budget":[total_budget_df],
                          "Average Math Score":[average_math_score],
                          "Average Reading Score":[average_reading_score],
                          "% Passing Math":[percent_passing_math],
                          "% Passing Reading":[percent_passing_reading],
                          "% Overall Passing":[overall_passing_rate]})
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,77.6819

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [26]:
#School Name
# Change header name from the dataframe from name to school
school_data_complete = school_data_complete.rename(columns={"school_name": "school"}) #when i change it here why cant i call on it below?
school_data_complete.columns #test if rename has been achieved

Index(['Student ID', 'student_name', 'gender', 'grade', 'school',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [28]:
# Merge the two data frames together on = school_name
school_data_complete = pd.merge(student_data, school_data, on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [53]:
# changing the school type into a str
school_type = school_data_complete.groupby('school_name')['type'].unique()
#school_type = school_type.str[0]
school_type

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [54]:
# count number of students in each school
student_count = school_data_complete['school_name'].value_counts()
student_count.head() #test

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [55]:
#calculate Total School Budget
#budget_per_school = school_data_complete.groupby('school_name')['budget'].count()
#budget_per_school.head()
#budget_per_school
budget_per_school= school_data.loc[:,'budget']
budget_per_school

0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64

In [56]:
# budget for each student
budget_per_student = school_data_complete.set_index('school_name')['budget']/school_data_complete.set_index('school_name')['size']
budget_per_student.head()
budget_per_student

school_name
Huang High School     655.0
Huang High School     655.0
Huang High School     655.0
Huang High School     655.0
Huang High School     655.0
                      ...
Thomas High School    638.0
Thomas High School    638.0
Thomas High School    638.0
Thomas High School    638.0
Thomas High School    638.0
Length: 39170, dtype: float64

In [57]:
# Calculate the average math and reading scores for each school
school_average_math = round(school_data_complete.groupby('school_name')['math_score'].mean(),2)
school_average_reading = round(school_data_complete.groupby('school_name')['reading_score'].mean(),2)
school_average_math
school_average_reading

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [58]:
# dataframe with reading and math passing only scores
passing_df = school_data_complete.loc[(school_data_complete['math_score'] >=70) 
                                          & (school_data_complete['reading_score'] >=70)]
passing_math_df = school_data_complete.loc[(school_data_complete['math_score'] >=70)]
passing_reading_df = school_data_complete.loc[(school_data_complete['reading_score'] >=70)]

passing_math_df.head()
passing_reading_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [59]:
# percentage for students passing math and reading 
percent_passing_math = round((passing_math_df.groupby('school_name')['math_score'].count()/student_count)*100,1)
percent_passing_reading = round((passing_reading_df.groupby('school_name')['reading_score'].count()/student_count)*100,1)
percent_passing_reading
percent_passing_math

Bailey High School       66.7
Cabrera High School      94.1
Figueroa High School     66.0
Ford High School         68.3
Griffin High School      93.4
Hernandez High School    66.8
Holden High School       92.5
Huang High School        65.7
Johnson High School      66.1
Pena High School         94.6
Rodriguez High School    66.4
Shelton High School      93.9
Thomas High School       93.3
Wilson High School       93.9
Wright High School       93.3
dtype: float64

In [60]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_passing_percent = round((percent_passing_math + percent_passing_reading)/2, 2)
overall_passing_percent

Bailey High School       74.30
Cabrera High School      95.55
Figueroa High School     73.35
Ford High School         73.80
Griffin High School      95.25
Hernandez High School    73.85
Holden High School       94.40
Huang High School        73.50
Johnson High School      73.65
Pena High School         95.25
Rodriguez High School    73.30
Shelton High School      94.90
Thomas High School       95.30
Wilson High School       95.20
Wright High School       94.95
dtype: float64

In [63]:
#Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({"School Type":[school_type],
                                "Total Students":[student_count],
                                "Total School Budget":[budget_per_school],
                                "Budget Per Student":[budget_per_student],
                                "Average Math Score": [school_average_math],
                                "Average Reading Score": [school_average_reading],
                                "% Passing Math": [percent_passing_math],
                                "% Passing Reading": [percent_passing_reading],
                                "% Overall Passing Rate":[overall_passing_percent]})   
                                                       
school_summary_df

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,0 1910635 1 1884411 2 1056600 3 ...,school_name Huang High School 655.0 Huang ...,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,Bailey High School 66.7 Cabrera High Sch...,Bailey High School 81.9 Cabrera High Sch...,Bailey High School 74.30 Cabrera High Sc...

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [49]:
#sort_values method
#the top 5 schools 
top_performing_schools= school_summary_df.sort_values("% Overall Passing Rate", ascending=False, inplace=False)
top_performing_schools.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,school_name Bailey High School District ...,Bailey High School 4976 Johnson High Sch...,0 1910635 1 1884411 2 1056600 3 ...,school_name Huang High School 655.0 Huang ...,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,Bailey High School 66.7 Cabrera High Sch...,Bailey High School 81.9 Cabrera High Sch...,Bailey High School 74.30 Cabrera High Sc...

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [50]:
#Sort and display the five worst-performing schools by % overall passing.
Bottom_performing_schools= school_summary_df.sort_values("% Overall Passing Rate", ascending=True, inplace=False)
Bottom_performing_schools.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,school_name Bailey High School District ...,Bailey High School 4976 Johnson High Sch...,0 1910635 1 1884411 2 1056600 3 ...,school_name Huang High School 655.0 Huang ...,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,Bailey High School 66.7 Cabrera High Sch...,Bailey High School 81.9 Cabrera High Sch...,Bailey High School 74.30 Cabrera High Sc...

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [67]:
from pandas.api.types import CategoricalDtype #haven't learned this yet in class
#Reset the grade order in the original students data frame "students_data". 
student_data["grade"] = student_data["grade"].astype(CategoricalDtype(["9th", "10th","11th","12th"]))
student_data

math_scores_grade = round(student_data.pivot_table(index="school_name", columns="grade", values="math_score"),2)
math_scores_grade.index.name = None 
math_scores_grade

grade                    9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [70]:
#Reset the grade order in the original students data frame "student_data". 
student_data["grade"] = student_data["grade"].astype(CategoricalDtype(["9th", "10th","11th","12th"]))
student_data

reading_scores_grade = round(student_data.pivot_table(index="school_name", columns="grade", values="reading_score"),2)
reading_scores_grade.index.name = None
reading_scores_grade

grade                    9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [71]:
# Create the bins (school spending)
spending_bins = [0, 585, 615, 645, 675]

# Names for the bins
spending_range = ["<$585", "$585-615", "$615-645", "$645-675"]

#schools_spending_df = school_summary_df
school_summary_df["Spending Ranges(Per Student)"] = pd.cut(budget_per_student, bins=spending_bins, labels=spending_range)
school_summary_df.head()

spending_math_score = school_summary_df.groupby(["Spending Ranges(Per Student)"])["Average Math Score"].mean()
spending_reading_score = school_summary_df.groupby(["Spending Ranges(Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_summary_df.groupby(["Spending Ranges(Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_summary_df.groupby(["Spending Ranges(Per Student)"])['% Passing Reading'].mean()
overall_passing_rate = (spending_passing_math + spending_passing_reading)/2

# Creating dataframe
scores_by_spending = pd.DataFrame ({"Average Math Score": spending_math_score,
    "Average Reading Score": spending_reading_score,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "Overall Passing Rate": overall_passing_rate})
scores_by_spending

ValueError: cannot reindex from a duplicate axis

## Scores by School Size

* Perform the same operations as above, based on school size.

In [72]:
# Create the bins ( school size)
size_bins = [0, 1000, 2000, 5000]

# Names for the bins
group_names = ["small (<1000)", "Medium(1000-2000)", "Large(2000-5000)"]

school_size_df = school_summary_df
school_size_df["School Size"] = pd.cut(student_count, bins=size_bins, labels=group_names)
school_size_df

spending_math_score = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
spending_reading_score = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
spending_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
spending_passing_reading = school_size_df.groupby(["School Size"])['% Passing Reading'].mean()
overall_passing_rate = (spending_passing_math + spending_passing_reading)/2

# Creating dataframe
scores_by_size = pd.DataFrame ({"Average Math Score": spending_math_score,
    "Average Reading Score": spending_reading_score,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "Overall Passing Rate": overall_passing_rate})
scores_by_size

DataError: No numeric types to aggregate

## Scores by School Type

* Perform the same operations as above, based on school type

In [73]:
#* Repeat the above breakdown, but this time group schools based on school type (Charter vs. District)*
scores_school_type = school_summary_df[["School Type","Average Math Score",
                                        "Average Reading Score", 
                                        "% Passing Math", 
                                        "% Passing Reading", 
                                        "% Overall Passing Rate"]]
scores_school_type = scores_school_type.groupby('School Type').mean()
scores_school_type

DataError: No numeric types to aggregate